# Deep Learning

In [16]:
import numpy
import scipy.special as ssp

In [ ]:
class NeuralNetwork:
    def __int__(self, input_nodes, hidden_nodes, output_nodes, learning_rate, weight_ih, weight_ho):
        self.i_nodes = input_nodes
        self.h_nodes = hidden_nodes
        self.o_nodes = output_nodes
        self.l_rate = learning_rate
        
        self.wih = numpy.random.rand(self.i_nodes, self.h_nodes) - 0.5
        self.who = numpy.random.rand(self.h_nodes, self.o_nodes) - 0.5
        
        self.activity_function = lambda x: ssp.expit(x)
        
        pass
    
    def train(self, input_list, result_list):
        input = numpy.array(input_list, ndmin = 2).T
        result = numpy.array(result_list, ndmin = 2).T
        hidden_ouput = self.activity_function(numpy.dot(self.wih, input))
        final_output = self.activity_function(numpy.dot(self.who, hidden_ouput))
        
        error_final = result - final_output
        error_hidden = numpy.dot(self.who.T, error_final)
        
        self.who += self.lr * numpy.dot((error_final * final_output * (1.0 - final_output)), hidden_output.T)
        self.wih += self.lr * numpy.dot((error_hidden * hidden_ouput * (1.0 - hidden_ouput)), input.T)
        
        pass
    
    def predict(self, input_list):
         input = numpy.array(input_list, ndmin = 2).T
         hidden_ouput = self.activity_function(numpy.dot(self.wih, input))
         final_output = self.activity_function(numpy.dot(self.who, hidden_ouput))
         return final_output   
        
        pass

input_nodes = 3
hidden_nodes = 3
output_nodes = 3
learning_rate = 0.3

neural_net_model = NeuralNetwork(input_nodes, hidden_nodes, output_nodes, learning_rate)

In [51]:
import pandas

In [52]:
data_train = pandas.read_csv("../data/Titanic_train.csv")
data_train.shape
data_train.replace()

(891, 12)

In [53]:
del data_train['PassengerId']
del data_train['Name']
del data_train['Cabin']
del data_train['Ticket']
data_train.head()
type(data_train)

pandas.core.frame.DataFrame

In [55]:
titanic_map = {'male': 0, 'female': 1, 'C': 0, 'Q':1, 'S':2 }
print data_train.replace({male: 0})

SyntaxError: invalid syntax (<ipython-input-55-4236eb37b6e4>, line 2)

In [15]:
data_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

### Definition of features 
From the metadata on the data source we have the following definition of the features.

| Feature  | Description | Comments |
|--------------|-------------|--------|
| survival	| Survival     | 	0 = No, 1 = Yes
| pclass	| Ticket class 	 | 	1 = 1st, 2 = 2nd, 3 = 3rd
| sex	   | Sex	      | 0 = male, 1 = female
| Age		| Age in years	
| sibsp    | # of siblings / spouses aboard the Titanic	
| parch		| # of parents / children aboard the Titanic	
| ticket	| Ticket number	
| fare		| Passenger fare	
| cabin		| Cabin number	
| embarked	| Port of Embarkation	| 0C = Cherbourg, 1Q = Queenstown, 2S = Southampton

In [24]:
def plot_corr(data, size=11):
    corr = data.corr()
    fig, ax = plt.subplots(figsize=(size, size))
    ax.matshow(corr)
    plt.xticks(range(len(corr.columns)), corr.columns)
    plt.xticks(range(len(corr.columns)), corr.columns)

In [ ]:
plot_corr(data_train, 12)